@{
    ViewBag.Title = "About Us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>This web application is a booking and managing system for ultrasounds which is a medical imaging service. Built for Australians by Melbournians users can sign in via popular social media platforms. Once signed in users can book appointments, view ultrasounds, as well as providing feedback. For users that struggle with directions this application can also be used as navigation. Rest assured your privacy is our number one priority, secure data storage as well as being hackproof against XSS attacks are just the beginning to keep your privacy private at Ultrasonic.</p>
</main>