@model IEnumerable<FIT5032_Assignment_Portfolio_V1._0.Models.Patient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!-- DataTables Styles -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">

<table id="patientsTable" class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <!-- DataTables will populate this section via AJAX -->
    </tbody>
</table>

@section scripts{
    <!-- DataTables and jQuery Scripts -->
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function() {
            $('#patientsTable').DataTable({
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@Url.Action("LoadData", "Patients")',
                    type: 'GET'
                },
                columns: [
                    { data: 'FirstName' },
                    { data: 'LastName' },
                    { data: 'Email' },
                    { data: 'DateOfBirth' },
                    {
                        data: 'Actions',
                        render: function(data, type, row) {
                            return '<a href="/Patients/Edit/' + data + '">Edit</a>' +
                                   ' | <a href="/Patients/Details/' + data + '">Details</a>' +
                                   ' | <a href="/Patients/Delete/' + data + '">Delete</a>';
                        }
                    }
                ]
            });
        });
    </script>
}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
